<ul>
	<% @projects.each do |project| %>
	<li><% if project.description.nil? %>
			<a href="projects/<%= project.id %>"><%= project.name %></a> 
		<% else %>
			 <a href="projects/<%= project.id %>"><%= project.name %></a> - <%= project.description %></li>
		<% end %>
	<% end %>
</ul>
<%# @projects.each do |project| %>
<%# if project.description.present? %>
<%#=project.description %>
<%# end %>
<%# end %>